@charset "utf-8";

/* CSS Document */


body{

    

    font-family: 'Roboto', sans-serif;

	position: relative;

	overflow-x:hidden;

	font-weight:300;
        margin-top: 50px;

}

/*Global*/
img {
    vertical-align: middle;
}
h1{
    color: #000;
    font-weight: 100;
    text-align: center;
}
.Boxshadow-Botton{
    -webkit-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.75);
}
.btn-primary {
    color: #fff;
    background-color: #5fb6ec;
    border-color: #5fb6ec;
}
.img-center{
    margin: 0 auto;
}
/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*Navigation Styles*/

.navbar-default{
    background-color: #5fb6ec;
}
.navbar-form>.btn-default{
    background-color: rgba(195, 9, 9, 0);
    border-color: rgba(204, 204, 204, 0);
    color: #fff;
}
.navbar-form>.form-group>.form-control{
    height: 30px
}
.navbar-right li a{
    color: #fff !important;
    font-weight: 500;
    font-size: 1.2em;
}
.navbar-form{
    margin-top: 10px;
    margin-bottom: 6px;
}
.nav>li>a>img {
    max-width: 45px;
}
.navbar-right .dropdown-toggle{
    padding-bottom: 0;
    padding-top: 2px;
}
.navbar-default .navbar-nav>.open>a{
    background-color: rgba(231, 231, 231, 0);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(231, 231, 231, 0);  
}
.dropdown-menu{
    background: #5fb6ec;
}
.navbar-right li a:hover{
    background: #3f7da5;
}
.navbar-right li:hover{
    background: #3f7da5;
}

/*Section 1*/
.main-content{
    background: url("img/bg-header-2.jpg");
    background-size: cover;
}
.iphone-style{
    position: relative;
    top: 100px;
}
.iphone-content h2, h3, h1{
    margin:0;
    color: #fff;
}
.iphone-content h1{
    font-size: 67px;
    text-align: left;
}
.iphone-content h2{
    font-size: 40px;
}
.iphone-content h3{
    font-weight: 300;
    font-size: 27px;
}
.iphone-content{
    position: relative;
    top: 130px
}
.iphone-content .list-unstyled .fa-check{
    color: #7ADC53;
}
.iphone-content .list-unstyled{
    margin-top: 20px;
}
.iphone-content .list-unstyled li{
    color: #fff;
    line-height: 50px;
    font-size: 18px;
}
.Section1{
    margin-bottom: 120px;
}
/*Section 2*/
.Section2 h1{
        font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.Section2 .circle-icon>i{
    font-size: 70px;
    margin-top: 13px;
}
.Section2 h1{
    margin-bottom: 30px;
}
.Section2 p{
    text-align: center;
}
.Section2 .btn{
    font-size: 18px;
}
.Section2{
    margin-bottom: 30px;
}
.circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #63B7EA;
    color: #FFF;
    margin: 0 auto 20px auto;
    text-align: center;
}
/*Section 3*/
.Section3 h1{
        font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.Section3{
    background-color: #faf9f9;
    padding-top: 30px;
    padding-bottom: 30px;

}
.section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #63B7EA;
}
.play-button {
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -63px;
    opacity: 0.6;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
.modal-dialog {
    width: 480px;
    margin: 90px auto;
}
.media.service-box {
  margin: 25px 0;
}
.media.service-box .icon {
  margin-right: 20px;
}
.media.service-box .icon > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #63B7EA;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .icon > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #63B7EA;
}
.media.service-box:hover .icon > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
/*Section 4*/
.Section4{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bx-wrapper .bx-viewport{
    box-shadow: none;
}
/*Media Queries*/

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .main-content{
        padding-bottom: 60px;
    }
    .iphone-style {
        top: 20px;
    }
    .iphone-content {
    top: 45px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .navbar-brand {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    padding: 0;
    height: auto;
    z-index: 1010;
    } 
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .navbar-nav>li {
        margin-top: 6px;
    }
}